[data-theme="Code vibes theme"] {
  --color-primary-bg: #303131;
  --color-secondary: #599eed;
  --color-button-bg: #f0ea6e;
  --color-text: #333333;
  --color-text-light: #ffffff;
  --color-interactive: #f0ea6e;
  --theme-section-gradient: linear-gradient(
    223.71deg,
    #303131 43.86%,
    #6d6d6d 122.2%
  );
}
