[data-theme="Custom theme"] {
  --color-primary-bg: #2e2a48;
  --color-secondary: #ff9f1c;
  --color-button-bg: #2ec4b6;
  --color-text: #232323;
  --color-text-light: #ffffff;
  --theme-section-gradient: linear-gradient(220deg, #2e2a48 35%, #493c74 120%);
}
