[data-theme="Foods theme"] {
  --color-primary-bg: #4f2a1e;
  --color-secondary: #f48c06;
  --color-button-bg: #ffd166;
  --color-text: #ffe8d6;
  --color-text-light: #5555daf4;
  --color-interactive: #ffd166;
  --theme-section-gradient: linear-gradient(220deg, #4f2a1e 35%, #8a3f2b 120%);
}
