[data-theme="Gaming theme"] {
  --color-primary-bg: #171a30;
  --color-secondary: #00c2ff;
  --color-button-bg: #ff7a18;
  --color-text: #e6efff;
  --color-text-light: #ffffff;
  --color-interactive: #ff7a18;
  --theme-section-gradient: linear-gradient(220deg, #171a30 35%, #2a0f3f 120%);
}
